body {
    background-color: #f5f5f5;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__languages .m-topbar__language-selected-img {
    width: 26px;
    border-radius: 50% !important
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__languages .m-nav__item .m-topbar__language-img {
    width: 22px;
    border-radius: 50% !important
}

.required:after {
    content: "*";
    margin-left: 5px;
    color: #fd0a33;
}

.info_content > h4 {
    color: #19b9fd;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Roboto;
    margin-top: 15px;
}
